body {
    font-family: Arial, sans-serif;
    background-color: #dbdbdb;
    margin: 0;
}
/* ------------------------------------ */
header {
    background: blue
}
header h1{
    text-align: center;
    margin: 0;
    font-size: 30px;
}
.link{
    background-color: red;
    margin-top: 10px;
}
.sns {
    display: flex;
    width: 0;
}
.sns h2{
    font-size: 20px;
    margin: 4px;
}
.sns a{
    height: 0;
}
.link ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    border-top: 1px solid white;
}
.link li{
    padding: 0 30px;
    border-right: 1px solid white;
}
.link a{
    font-size: 16px;
}
.link-1{
    border-left: 1px solid white;
}
header a {
    color: white;
    text-decoration: none;
    text-decoration: underline;
    transition: color 0.5s;
}
a:hover {
    color: #000000;
}
/* ------------------------------------ */
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 30px 50px;
}
.title h1{
    margin: 0px;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    background-color: gray;
    text-align: center;
    font-size: 25px;
}
article{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px gray solid;
    max-height: 150px;
    padding: 10px;
}
article img{
    max-width: 40%;
}
article a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    transition: color 0.5s;
}
a:hover {
    color: gray;
}
/* ------------------------------------ */
footer {
    background: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
/* ------------------------------------ */
@media (max-width: 768px) {
    header h1{
        font-size: 19px;
    }
    .link ul{
        display: block;
        text-align: center;
    }
    .link li{
        border: 1px rgb(255, 255, 255) solid;
    }
    .link a{
        font-size: 15px;
    }
    .title{
        margin: 10px 0;
    }
    .title h1{
        font-size: 20px;
    }
    main{
        padding: 10px;
        margin: 0;
    }
    article h2{
        margin: 0;
    }
}